body {
    font-family: sans-serif;
    margin: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  #masuk_button {
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }

  #masuk_button:hover {
    background-color: greenyellow;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}